In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

import utl_eda
data_root = 'E:\\datasets\\tianchi\PAKDD\\'

# 获取所有notnull列

In [ ]:
log_path = ['disk_sample_smart_log_2017', 'disk_sample_smart_log_2018_Q1','disk_sample_smart_log_2018_Q2']

dict_notnull = dict()
for d in log_path:
    files = os.listdir(data_root + d)
    for csv_file in files:
        
        filename_part = csv_file.split('.')[0]
        r_file_path = data_root + d + '\\' + csv_file
        print ('Reading {} .......'.format(r_file_path))
        chunks = pd.read_csv(r_file_path, index_col=0, nrows=None, chunksize=500000)
        for i, df in enumerate(chunks):

            ser_isnull = df.isnull().sum(axis=0)
            col_not_null = list(ser_isnull[ser_isnull != df.shape[0]].index)

            dict_notnull[csv_file + str(i)] = col_not_null

In [10]:
len(dict_notnull.values() )

110

In [17]:
col_set = set()

for cl in dict_notnull.values():
    col_set = col_set.union(set(cl))

keep_cols = sorted(list(col_set))

In [18]:
keep_cols

['dt',
 'manufacturer',
 'model',
 'serial_number',
 'smart_10_normalized',
 'smart_10raw',
 'smart_12_normalized',
 'smart_12raw',
 'smart_184_normalized',
 'smart_184raw',
 'smart_187_normalized',
 'smart_187raw',
 'smart_188_normalized',
 'smart_188raw',
 'smart_189_normalized',
 'smart_189raw',
 'smart_190_normalized',
 'smart_190raw',
 'smart_191_normalized',
 'smart_191raw',
 'smart_192_normalized',
 'smart_192raw',
 'smart_193_normalized',
 'smart_193raw',
 'smart_194_normalized',
 'smart_194raw',
 'smart_195_normalized',
 'smart_195raw',
 'smart_197_normalized',
 'smart_197raw',
 'smart_198_normalized',
 'smart_198raw',
 'smart_199_normalized',
 'smart_199raw',
 'smart_1_normalized',
 'smart_1raw',
 'smart_240_normalized',
 'smart_240raw',
 'smart_241_normalized',
 'smart_241raw',
 'smart_242_normalized',
 'smart_242raw',
 'smart_3_normalized',
 'smart_3raw',
 'smart_4_normalized',
 'smart_4raw',
 'smart_5_normalized',
 'smart_5raw',
 'smart_7_normalized',
 'smart_7raw',
 'smart_9_normalized',
 'smart_9raw']

# 转存数据为hdf格式

In [34]:
log_path = ['disk_sample_smart_log_2017', 'disk_sample_smart_log_2018_Q1','disk_sample_smart_log_2018_Q2']

dict_notnull = dict()
for d in log_path:
    files = os.listdir(data_root + d)
    for csv_file in files:
        
        filename_part = csv_file.split('.')[0]
#         if csv_file in ['disk_sample_smart_log_201707.csv', 'disk_sample_smart_log_201708.csv']:
#             continue
        r_file_path = data_root + d + '\\' + csv_file
        print ('Reading {} .......'.format(r_file_path))
        chunks = pd.read_csv(r_file_path, index_col=None, nrows=None, chunksize=2000000, usecols=keep_cols)
        for i, df in enumerate(chunks):

#             ser_isnull = df.isnull().sum(axis=0)
#             col_not_null = list(ser_isnull[ser_isnull != df.shape[0]].index)

#             dict_notnull[csv_file + str(i)] = col_not_null
            df_notnull = df[keep_cols].copy()
            df_reduced,_ = utl_eda.reduce_mem_usage(df_notnull, debug=False)
            o_file_path = data_root + 'hdf\\' + filename_part + '_' + str(i) + '.h5'
            print( 'Writing {}'.format(o_file_path))
            df_reduced.to_hdf(o_file_path, key='log', mode='w')

Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2017\disk_sample_smart_log_201707.csv .......
Memory usage of properties dataframe is : 638.7358093261719  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  204.2112913131714  MB
This is  31.971166847307668 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201707_0.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2017\disk_sample_smart_log_201708.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279296875  MB
This is  31.49039515532382 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201708_0.h5
Memory usage of properties dataframe is : 452.6106300354004  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  142.52891445159912  MB
This is  31.490403670026794 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201708_1.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2017\disk_sample_smart_log_201709.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279296875  MB
This is  31.49039515532382 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201709_0.h5
Memory usage of properties dataframe is : 455.0338478088379  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  148.76115036010742  MB
This is  32.69232631296535 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201709_1.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2017\disk_sample_smart_log_201710.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  255.5848388671875  MB
This is  32.21154889053094 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201710_0.h5
Memory usage of properties dataframe is : 609.6195106506348  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  191.97161483764648  MB
This is  31.490398762460703 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201710_1.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2017\disk_sample_smart_log_201711.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  244.1407470703125  MB
This is  30.769241420116703 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201711_0.h5
Memory usage of properties dataframe is : 650.3254432678223  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  204.79006958007812  MB
This is  31.49039787695033 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201711_1.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2017\disk_sample_smart_log_201712.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  244.1407470703125  MB
This is  30.769241420116703 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201712_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279678344727  MB
This is  31.49039548469687 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201712_1.h5
Memory usage of properties dataframe is : 41.674869537353516  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  12.722944259643555  MB
This is  30.52905600157879 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201712_2.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2018_Q1\disk_sample_smart_log_201801.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279296875  MB
This is  31.49039515532382 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201801_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279678344727  MB
This is  31.49039548469687 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201801_1.h5
Memory usage of properties dataframe is : 169.89831924438477  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  51.86808395385742  MB
This is  30.528897628027412 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201801_2.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2018_Q1\disk_sample_smart_log_201802.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  244.1407470703125  MB
This is  30.769241420116703 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201802_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279678344727  MB
This is  31.49039548469687 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201802_1.h5
Memory usage of properties dataframe is : 33.10275650024414  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  10.105977058410645  MB
This is  30.529110342626936 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201802_2.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2018_Q1\disk_sample_smart_log_201803.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279296875  MB
This is  31.49039515532382 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201803_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  249.86279678344727  MB
This is  31.49039548469687 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201803_1.h5
Memory usage of properties dataframe is : 224.7123146057129  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  68.60216426849365  MB
This is  30.528885071948597 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201803_2.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2018_Q2\disk_sample_smart_log_201804.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  253.677490234375  MB
This is  31.97116431212857 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201804_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  253.67749404907227  MB
This is  31.971164639190224 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201804_1.h5
Memory usage of properties dataframe is : 183.82309341430664  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  57.00292110443115  MB
This is  31.009662630339953 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201804_2.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2018_Q2\disk_sample_smart_log_201805.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  257.4921875  MB
This is  32.45193346893331 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201805_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  267.02893447875977  MB
This is  33.65385667991697 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201805_1.h5
Memory usage of properties dataframe is : 257.0758399963379  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  84.66207981109619  MB
This is  32.93272514924087 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201805_2.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2018_Q2\disk_sample_smart_log_201806.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  255.5848388671875  MB
This is  32.21154889053094 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201806_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  261.30688858032227  MB
This is  32.93270294817694 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201806_1.h5
Memory usage of properties dataframe is : 256.855655670166  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  82.11980247497559  MB
This is  31.97118718710536 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201806_2.h5
Reading E:\datasets\tianchi\PAKDD\disk_sample_smart_log_2018_Q2\disk_sample_smart_log_201807.csv .......
Memory usage of properties dataframe is : 793.4571533203125  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  261.306884765625  MB
This is  32.93270262573806 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201807_0.h5
Memory usage of properties dataframe is : 793.4571571350098  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  261.30688858032227  MB
This is  32.93270294817694 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201807_1.h5
Memory usage of properties dataframe is : 339.49341201782227  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  114.2526741027832  MB
This is  33.65387075516662 % of the initial size
Writing E:\datasets\tianchi\PAKDD\hdf\disk_sample_smart_log_201807_2.h5

In [30]:
df

,manufacturer,model,smart_1_normalized,smart_1raw,smart_3_normalized,smart_3raw,smart_4_normalized,smart_4raw,smart_5_normalized,smart_5raw,...,smart_198raw,smart_199_normalized,smart_199raw,smart_240_normalized,smart_240raw,smart_241_normalized,smart_241raw,smart_242_normalized,smart_242raw,dt
serial_number,,,,,,,,,,,,,,,,,,,,,
disk_69207,A,1,78.0,60050415.0,95.0,0.0,100.0,15.0,100.0,0.0,...,0.0,200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,20170711
disk_69207,A,1,78.0,60050415.0,95.0,0.0,100.0,15.0,100.0,0.0,...,0.0,200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,20170712
disk_69207,A,1,78.0,60050415.0,95.0,0.0,100.0,15.0,100.0,0.0,...,0.0,200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,20170718
disk_6922,A,1,81.0,160311121.0,96.0,0.0,100.0,20.0,100.0,0.0,...,0.0,200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,20170711
disk_6922,A,1,81.0,162611408.0,96.0,0.0,100.0,20.0,100.0,0.0,...,0.0,200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,20170709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
disk_51257,A,2,81.0,139818328.0,86.0,0.0,100.0,19.0,100.0,0.0,...,0.0,200.0,0.0,100.0,2.748865e+14,100.0,4.790811e+09,100.0,9.907189e+09,20170713
disk_51259,A,2,82.0,163415424.0,87.0,0.0,100.0,11.0,100.0,0.0,...,0.0,200.0,0.0,100.0,9.625451e+13,100.0,1.108236e+11,100.0,7.991914e+10,20170720
disk_51297,A,2,84.0,231671520.0,89.0,0.0,100.0,19.0,100.0,0.0,...,0.0,200.0,0.0,100.0,8.059506e+13,100.0,4.736914e+09,100.0,9.882854e+09,20170712
disk_51301,A,2,82.0,159812192.0,88.0,0.0,100.0,12.0,100.0,0.0,...,0.0,200.0,0.0,100.0,2.113768e+14,100.0,1.164669e+11,100.0,8.982296e+10,20170726
disk_51325,A,2,100.0,23109.0,86.0,0.0,100.0,21.0,100.0,0.0,...,0.0,200.0,0.0,100.0,7.228000e+13,100.0,3.863520e+08,100.0,3.844162e+08,20170716

# 读取测试集

In [8]:
df_test = pd.read_csv(data_root + r'disk_sample_smart_log_test_a.csv\disk_sample_smart_log_test_a.csv', index_col=None)

In [28]:
df_test.head()

,serial_number,manufacturer,model,smart_1_normalized,smart_1raw,smart_2_normalized,smart_2raw,smart_3_normalized,smart_3raw,smart_4_normalized,...,smart_251raw,smart_252_normalized,smart_252raw,smart_253_normalized,smart_253raw,smart_254_normalized,smart_254raw,smart_255_normalized,smart_255raw,dt
0,disk_119164,A,1,73.0,24572876.0,NaN,NaN,97.0,0.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180829
1,disk_119437,A,1,83.0,213795848.0,NaN,NaN,96.0,0.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180815
2,disk_119991,A,1,75.0,30883148.0,NaN,NaN,95.0,0.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180807
3,disk_119991,A,1,81.0,136050830.0,NaN,NaN,95.0,0.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180812
4,disk_120372,A,1,83.0,203413060.0,NaN,NaN,96.0,0.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180826

In [11]:
ser_isnull = df_test.isnull().sum(axis=0)
test_col_not_null = list(ser_isnull[ser_isnull != df_test.shape[0]].index)

In [12]:
test_col_not_null

['serial_number',
 'manufacturer',
 'model',
 'smart_1_normalized',
 'smart_1raw',
 'smart_3_normalized',
 'smart_3raw',
 'smart_4_normalized',
 'smart_4raw',
 'smart_5_normalized',
 'smart_5raw',
 'smart_7_normalized',
 'smart_7raw',
 'smart_9_normalized',
 'smart_9raw',
 'smart_10_normalized',
 'smart_10raw',
 'smart_12_normalized',
 'smart_12raw',
 'smart_184_normalized',
 'smart_184raw',
 'smart_187_normalized',
 'smart_187raw',
 'smart_188_normalized',
 'smart_188raw',
 'smart_189_normalized',
 'smart_189raw',
 'smart_190_normalized',
 'smart_190raw',
 'smart_191_normalized',
 'smart_191raw',
 'smart_192_normalized',
 'smart_192raw',
 'smart_193_normalized',
 'smart_193raw',
 'smart_194_normalized',
 'smart_194raw',
 'smart_195_normalized',
 'smart_195raw',
 'smart_197_normalized',
 'smart_197raw',
 'smart_198_normalized',
 'smart_198raw',
 'smart_199_normalized',
 'smart_199raw',
 'smart_240_normalized',
 'smart_240raw',
 'smart_241_normalized',
 'smart_241raw',
 'smart_242_normalized',
 'smart_242raw',
 'dt']

In [9]:
keep_cols = ['dt',
 'manufacturer',
 'model',
 'serial_number',
 'smart_10_normalized',
 'smart_10raw',
 'smart_12_normalized',
 'smart_12raw',
 'smart_184_normalized',
 'smart_184raw',
 'smart_187_normalized',
 'smart_187raw',
 'smart_188_normalized',
 'smart_188raw',
 'smart_189_normalized',
 'smart_189raw',
 'smart_190_normalized',
 'smart_190raw',
 'smart_191_normalized',
 'smart_191raw',
 'smart_192_normalized',
 'smart_192raw',
 'smart_193_normalized',
 'smart_193raw',
 'smart_194_normalized',
 'smart_194raw',
 'smart_195_normalized',
 'smart_195raw',
 'smart_197_normalized',
 'smart_197raw',
 'smart_198_normalized',
 'smart_198raw',
 'smart_199_normalized',
 'smart_199raw',
 'smart_1_normalized',
 'smart_1raw',
 'smart_240_normalized',
 'smart_240raw',
 'smart_241_normalized',
 'smart_241raw',
 'smart_242_normalized',
 'smart_242raw',
 'smart_3_normalized',
 'smart_3raw',
 'smart_4_normalized',
 'smart_4raw',
 'smart_5_normalized',
 'smart_5raw',
 'smart_7_normalized',
 'smart_7raw',
 'smart_9_normalized',
 'smart_9raw']

In [13]:
len(keep_cols), len(test_col_not_null)

(52, 52)

In [14]:
set(test_col_not_null).difference(set(keep_cols))

set()

说明test中并没有多余的非空列

In [15]:
df_notnull = df_test[keep_cols].copy()
df_test_reduced,_ = utl_eda.reduce_mem_usage(df_notnull, debug=False)

Memory usage of properties dataframe is : 70.6558837890625  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  21.7403564453125  MB
This is  30.76935037741032 % of the initial size

In [49]:
df_test_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178096 entries, 0 to 178095
Data columns (total 52 columns):
dt                      178096 non-null uint32
manufacturer            178096 non-null object
model                   178096 non-null uint8
serial_number           178096 non-null object
smart_10_normalized     178096 non-null uint8
smart_10raw             178096 non-null uint8
smart_12_normalized     178096 non-null uint8
smart_12raw             178096 non-null uint16
smart_184_normalized    178096 non-null uint8
smart_184raw            178096 non-null uint16
smart_187_normalized    178096 non-null uint8
smart_187raw            178096 non-null uint16
smart_188_normalized    178096 non-null uint8
smart_188raw            178096 non-null uint64
smart_189_normalized    178096 non-null uint8
smart_189raw            178096 non-null uint32
smart_190_normalized    178096 non-null uint8
smart_190raw            178096 non-null uint8
smart_191_normalized    178096 non-null uint8
smart_191raw            178096 non-null uint8
smart_192_normalized    178096 non-null uint8
smart_192raw            178096 non-null uint16
smart_193_normalized    178096 non-null uint8
smart_193raw            178096 non-null uint32
smart_194_normalized    178096 non-null uint8
smart_194raw            178096 non-null uint8
smart_195_normalized    178096 non-null uint8
smart_195raw            178096 non-null uint32
smart_197_normalized    178096 non-null uint8
smart_197raw            178096 non-null uint16
smart_198_normalized    178096 non-null uint8
smart_198raw            178096 non-null uint16
smart_199_normalized    178096 non-null uint8
smart_199raw            178096 non-null uint32
smart_1_normalized      178096 non-null uint8
smart_1raw              178096 non-null uint32
smart_240_normalized    178096 non-null uint8
smart_240raw            178096 non-null uint64
smart_241_normalized    178096 non-null uint8
smart_241raw            178096 non-null uint64
smart_242_normalized    178096 non-null uint8
smart_242raw            178096 non-null uint64
smart_3_normalized      178096 non-null uint8
smart_3raw              178096 non-null uint8
smart_4_normalized      178096 non-null uint8
smart_4raw              178096 non-null uint16
smart_5_normalized      178096 non-null uint8
smart_5raw              178096 non-null uint16
smart_7_normalized      178096 non-null uint8
smart_7raw              178096 non-null uint64
smart_9_normalized      178096 non-null uint8
smart_9raw              178096 non-null uint16
dtypes: object(2), uint16(9), uint32(6), uint64(5), uint8(30)
memory usage: 21.7+ MB

In [18]:
df_test_reduced['ID'] =  df_test_reduced['model'].apply(lambda x: str(x)).str.cat(df_test_reduced['serial_number'], sep='_')

In [16]:
df_test_reduced['dt'] = pd.to_datetime(df_test_reduced['dt'].astype(str), format='%Y%m%d')

In [20]:
df_test_reduced.to_hdf(data_root + 'hdf\\test.h5', 'test')

In [19]:
df_test_reduced.head()

,dt,manufacturer,model,serial_number,smart_10_normalized,smart_10raw,smart_12_normalized,smart_12raw,smart_184_normalized,smart_184raw,...,smart_3raw,smart_4_normalized,smart_4raw,smart_5_normalized,smart_5raw,smart_7_normalized,smart_7raw,smart_9_normalized,smart_9raw,ID
0,2018-08-29,A,1,disk_119164,100,0,100,6,100,0,...,0,100,6,100,0,93,2550823301,57,37728,1_disk_119164
1,2018-08-15,A,1,disk_119437,100,0,100,18,100,0,...,0,100,18,100,0,93,2109566777,64,31798,1_disk_119437
2,2018-08-07,A,1,disk_119991,100,0,100,10,100,0,...,0,100,10,100,0,96,4096173583,59,35918,1_disk_119991
3,2018-08-12,A,1,disk_119991,100,0,100,10,100,0,...,0,100,10,100,0,96,4110764110,59,36038,1_disk_119991
4,2018-08-26,A,1,disk_120372,100,0,100,8,100,0,...,0,100,8,100,0,93,2504725140,58,37538,1_disk_120372

# 读取fault记录

In [2]:
df_fault = pd.read_csv(data_root + r'disk_sample_fault_tag.csv\disk_sample_fault_tag.csv', index_col=None)

In [3]:
df_fault['ID'] =  df_fault['model'].apply(lambda x: str(x)).str.cat(df_fault['serial_number'], sep='_')

In [4]:
df_fault.head()

  manufacturer  model serial_number  fault_time  tag             ID
0            A      1   disk_100102  2017-09-29    0  1_disk_100102
1            A      1   disk_100584  2018-05-02    6  1_disk_100584
2            A      1   disk_100669  2018-06-22    3  1_disk_100669
3            A      1   disk_101190  2018-02-19    5  1_disk_101190
4            A      1   disk_103158  2017-10-20    0  1_disk_103158

In [4]:
df_fault['fault_time'] = pd.to_datetime(df_fault['fault_time'], format='%Y-%m-%d')

In [5]:
df_fault['fault_time'].min(), df_fault['fault_time'].max()

(Timestamp('2017-07-02 00:00:00'), Timestamp('2018-07-31 00:00:00'))

In [21]:
df_fault.head()

  manufacturer  model serial_number fault_time  tag             ID
0            A      1   disk_100102 2017-09-29    0  1_disk_100102
1            A      1   disk_100584 2018-05-02    6  1_disk_100584
2            A      1   disk_100669 2018-06-22    3  1_disk_100669
3            A      1   disk_101190 2018-02-19    5  1_disk_101190
4            A      1   disk_103158 2017-10-20    0  1_disk_103158

In [59]:
df_fault.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292 entries, 0 to 1291
Data columns (total 6 columns):
manufacturer     1292 non-null object
model            1292 non-null int64
serial_number    1292 non-null object
fault_time       1292 non-null datetime64[ns]
tag              1292 non-null int64
ID               1292 non-null object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 60.7+ KB

In [6]:
df_fault.to_hdf(data_root + 'hdf\\fault.h5', 'fault')